body{
    margin: 0px 0px;
    font-family: roboto;
    margin-top: 0px;
    background-color: #E6EFE9;
}

h1{
    margin-top: 0px;
    background-color: #607196;
    color:  #36311F;
    padding: 5px 15px;
    font-size: 40px;
}

.calcBackground{
    display: flex;
    justify-content: center;
}

.calculatorFrame{
    min-width: 50vh;
    min-height: 40vh;
    border: 5px solid rgba(0, 0, 0, 0.596);
    border-radius: 8px;
    background-color: white;
}

.displayScreen{
    display: flex;
    /* padding: 2em; */
    min-height: 75px;
    border: 2px solid;
    border-radius: 6px;
    margin: 2px 2px;
    font-size: 40px;
    font-weight: bold;
    justify-content: end;
    align-items: end;
    max-height: 80px;
    box-sizing: border-box;
}

.rowOne,.rowTwo,.rowThree,.rowFour{
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-grow: 1;
    margin-left:  2px;
    margin-right: 2px;
}
.rowOneButton,.rowTwoButton,.rowThreeButton,.rowFourButton{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 2px 1px;
    padding: 5px 0px ;
    font-size: 25px ;
    background-color: rgb(197, 190, 179);
    border-radius: 3px;
}
.rowOneButton{
    background-color: wheat;
}

#allClear{
    background-color: rgb(247, 17, 17);
}

#divide,#multiply,#subtract,#addition{
    background-color: wheat;
    max-width: 11vh;
}

#equalsTo{
    flex-grow: 2;
    background-color: #4673d4;
}

.moving{
    background-color: rgb(156, 151, 142);
}